<!-- Modal -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="about-modal-title">About Fractals</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-justify">Fractals is application, which allows you to explore fractals via web browser. In application is now only one
          fractal with one color scheme, but in future application should have many types of fractals and color
          schemes.</p>
        <p>Version: 0.1</p>
        <p>Author: Ordinary Nick</p>
        <p>Release message:</p>
        <ul>
          <li>First release of application with Mandelbrot fractal and black and white color scheme.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
