.navbar {
  height: 3em;
}

.btn {
  margin-right: 0.5em;
}

.btn-outline-light {
  border-color: rgba(248, 249, 250, 0.5);
}

.btn:hover {
  background: gray;
}

.btn-outline-light:focus {
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
}

.dropdown-menu {
  background: rgba(128, 128, 128, 0.75);
}

.dropdown-menu a {
  color: rgba(241, 241, 241, 0.5);
}

.dropdown-item:hover {
  background: rgba(192, 192, 192, 0.55);
}
