<nav class="navbar navbar-expand-sm navbar-dark bg-transparent fixed-top">
  <a routerLink="" class="navbar-brand text-white-50">
    Fractals
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto mt-2">
      <li class="nav-item">
        <button class="btn btn-outline-light text-white-50 no-hover" [class.border-0]="!infoVisible"
                (click)="switchFractalInfoVisibility()">Info
        </button>
        <button class="btn btn-outline-light text-white-50 no-hover" [class.border-0]="!settingsVisible"
                (click)="switchFractalSettingsVisibility()">Settings
        </button>
        <button class="btn btn-outline-light text-white-50 no-hover" [class.border-0]="!controlsVisible"
                (click)="switchFractalControlsVisibility()">Controls
        </button>
      </li>

      <li class="nav-item dropdown">
        <button class="btn btn-outline-light text-white-50 border-0 dropdown-toggle"
                id="fractals" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fractal
        </button>
        <div class="dropdown-menu" aria-labelledby="fractals">
          <a class="dropdown-item" href="#">Mandelbrod</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <button class="btn btn-outline-light text-white-50 border-0 dropdown-toggle"
                id="colors" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Color
        </button>
        <div class="dropdown-menu" aria-labelledby="colors">
          <a class="dropdown-item" href="#">Black and white</a>
        </div>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-light text-white-50 border-0" (click)="exportCanvasToImage()">Export</button>
        <button type="button" class="btn btn-outline-light text-white-50 border-0" data-toggle="modal"
                data-target="#about-modal">
          About
        </button>
      </li>
    </ul>
  </div>
</nav>
<app-about></app-about>
