<div id="controls" class="card card-overlay" *ngIf="visible">
  <div class="card-body">
    <div class="controls-text">[Arrows] - position</div>
    <div class="controls-text">[+ -] - zoom</div>
    <div class="controls-text">[i] - iterations</div>
    <div class="controls-text">[shift] - opposite action</div>
    <div class="controls-text">[ctrl] - multiply action by 10</div>
    <div class="controls-text">[alt] - multiply action by 100</div>
    <div class="controls-text">[r] - resets to default settings</div>
  </div>
</div>
