<div id="position" class="card card-overlay" *ngIf="visible">
  <div class="card-body">
    <div class="position-text">Position: [{{settings.xOffset}},{{settings.yOffset}}]</div>
    <div class="position-text">Zoom: {{settings.zoom}}</div>
  </div>
</div>
