<div id="right-sidebar">
  <ul>
    <li class="sidebar-item">
      <app-fractal-info></app-fractal-info>
    </li>
    <li class="sidebar-item">
      <app-fractal-settings></app-fractal-settings>
    </li>
    <li class="sidebar-item">
      <app-fractal-controls></app-fractal-controls>
    </li>
  </ul>
</div>
